<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public/css/LayoutAdmin.css" rel="stylesheet" />
    <link href="~/Public/css/all.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("head", required: false)
</head>
<body>
    <section class="clearfix header bg-danger">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Trang quản trị</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="@Url.Action("Index","Dashboard")">Dashboard</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Sản phẩm
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="@Url.Action("Index","Products")">Danh sách sản phẩm</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Create","Products")">Thêm sản phẩm</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Index","Categories")">Danh sách loại sản phẩm</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Create","Categories")">Thêm loại sản phẩm</a></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Bài viết
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="@Url.Action("Index","Posts")">Danh sách bài viết</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Create","Posts")">Thêm bài viết</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Index","Topics")">Danh sách chủ đề</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Create","Topics")">Thêm chủ đề</a></li>

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled">Disabled</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <section class="clearfix maincontent">
        <div class="container-fluid py-3 col-md-10 ">
            @RenderBody()
        </div>
    </section>
    <section class="clearfix footer bg-danger">
        <div class="container-fluid text-white text-center py-3">
            Thiết kế bởi: Hoàng Kim Lợi
        </div>
    </section>
    @RenderSection("footer", required: false)
</body>
</html>
