@model IEnumerable<ShopThoiTrang.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong class="text-uppercase text-danger">
                    Danh sách loại sản phẩm
                </strong>
            </div>
            <div class="col-md-6 text-end">
                <a href="@Url.Action("Create","Categories")" class="btn btn-sm btn-success"><i class="fa-solid fa-plus"></i>Thêm</a>
                <a href="@Url.Action("Trash","Categories")" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i>Thùng rác</a>
            </div>

        </div>
    </div>
    <div class="card-body p-3">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width:30px" class="text-center">#</th>
                    <th class="text-center">Tên loại sản phẩm</th>
                    <th class="text-center">Liên kết</th>
                    <th style="width:280px" class="text-center">Chức năng</th>
                    <th style="width:40px" class="text-center">Id</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <input type="checkbox" name="checkId" />
                        </td>
                        <td class="text-center">@item.Name</td>
                        <td class="text-center">
                            <a href="~/san-pham/@item.Slug">~/san-pham/@item.Slug</a>
                        </td>
                        <td class="text-center">
                            @if (item.Status == 1)
                            {
                                <a href="@Url.Action("Status", "Categories", new { @id = item.Id })" class="btn btn-danger">
                                <i class="fa-solid fa-toggle-on"></i> </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Status", "Categories", new { @id = item.Id })" class="btn btn-success">
                                <i class="fa-solid fa-toggle-off"></i>
                                </a>

                            }
                        <a href="@Url.Action("Edit", "Categories", new { @id = item.Id })" class="btn btn-secondary"> <i class="fa-solid fa-edit"></i> </a>
                        <a href="@Url.Action("Details", "Categories", new { @id = item.Id })" class="btn btn-info"> <i class="fa-solid fa-eye"></i> </a>
                        <a href="@Url.Action("MoveToTrash", "Categories", new { @id = item.Id })" class="btn btn-warning"> <i class="fa-solid fa-trash"></i> </a>
                        </td>
                        <td class="text-center">@item.Id</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

